[TwitterRecentSearch@config]
key=UlJSGi5wueH9EXo2j5icJ7aYG
key_secret=zZA4QChCaEEMElfE5IxLYapa7QnQJtsDD4US8FAKxo6mC71eEb
bearer_token=AAAAAAAAAAAAAAAAAAAAAM3KdAEAAAAAtpKah4unWIcOBRz1S8OA1r0AY%2Fc%3DbeK4boYTgYtUoV78a7JWrwpAJiJW4JHKdxToDfmBPZsyHD4szY
recent_search_url=https://api.twitter.com/2/tweets/search/recent

[TwitterSearchCount@config]
key=UlJSGi5wueH9EXo2j5icJ7aYG
key_secret=zZA4QChCaEEMElfE5IxLYapa7QnQJtsDD4US8FAKxo6mC71eEb
bearer_token=AAAAAAAAAAAAAAAAAAAAAM3KdAEAAAAAtpKah4unWIcOBRz1S8OA1r0AY%2Fc%3DbeK4boYTgYtUoV78a7JWrwpAJiJW4JHKdxToDfmBPZsyHD4szY
search_count_url=https://api.twitter.com/2/tweets/counts/recent

[FtxClient@config]
api=xt2sRH2_WOXlcizn1dAneoNS6laz6VQ3qJJ-o2X4
api_secret=RI7C396RsEUSoIs9KJlGRf1S75GCyfTsHbUlCRzq
