[AggregateCryptoQuanIndicator@key]
key=LuyTPig2cdbVqu2NVKUhwunCd9jopx89UPMmK5Dl

[AggregateCryptoQuanIndicator@config]
url_mpi=https://api.cryptoquant.com/v1/btc/flow-indicator/mpi?window=day&from={from_date}&to={to_date}&limit=1
url_exchange_netflow=https://api.cryptoquant.com/v1/btc/exchange-flows/netflow?exchange=binance&window=day&from={from_date}&to={to_date}&limit=1
url_stablecoins_ratio_usd=https://api.cryptoquant.com/v1/btc/flow-indicator/stablecoins-ratio?exchange=binance&window=day&from={from_date}&to={to_date}&limit=1
url_leverage_ratio=https://api.cryptoquant.com/v1/btc/market-indicator/estimated-leverage-ratio?exchange=binance&window=day&from={from_date}&to={to_date}&limit=1
url_sopr=https://api.cryptoquant.com/v1/btc/market-indicator/sopr?window=day&from={from_date}&to={to_date}&limit=1
url_sopr_longterm_holders=https://api.cryptoquant.com/v1/btc/market-indicator/sopr-ratio?window=day&from={from_date}&to={to_date}&limit=1
url_mvrv=https://api.cryptoquant.com/v1/btc/market-indicator/mvrv?window=day&from={from_date}&to={to_date}&limit=1
url_nupl=https://api.cryptoquant.com/v1/btc/network-indicator/nupl?window=day&from={from_date}&to={to_date}&limit=1
url_nvt_golden_cross=https://api.cryptoquant.com/v1/btc/network-indicator/nvt-golden-cross?window=day&from={from_date}&to={to_date}&limit=1
url_puell_multiple=https://api.cryptoquant.com/v1/btc/network-indicator/puell-multiple?window=day&from={from_date}&to={to_date}&limit=1
url_utxo=https://api.cryptoquant.com/v1/btc/network-indicator/pnl-utxo?window=day&from={from_date}&to={to_date}&limit=1
url_liquidation=https://api.cryptoquant.com/v1/btc/market-data/liquidations?window=day&from={from_date}&to={to_date}&exchange=binance

[ClassifyIndicatorMpi@config]
excellent_thres=0
good_thres=1
average_thres=1.75
risky_thres=2.25
dangerous_thres=2.25
coefficient=M

[ClassifyIndicatorExNet@config]
excellent_thres=-40
good_thres=-20
average_thres=19.99
risky_thres=40
dangerous_thres=40
coefficient=M

[ClassifyIndicatorRatioUsd@config]
excellent_thres=4.5
good_thres=6.5
average_thres=8
risky_thres=10
dangerous_thres=10
coefficient=H

[ClassifyIndicatorLeverageRatio@config]
excellent_thres=0.125
good_thres=0.15
average_thres=1.75
risky_thres=2
dangerous_thres=2
coefficient=H

[ClassifyIndicatorSopr@config]
excellent_thres=0.9
good_thres=1
average_thres=1.05
risky_thres=1.1
dangerous_thres=1.1
coefficient=M

[ClassifyIndicatorSoprHolders@config]
good_thres=2
risky_thres=5
dangerous_thres=5
coefficient=M

[ClassifyIndicatorMvrv@config]
excellent_thres=1
good_thres=1.55
average_thres=2
risky_thres=2.5
dangerous_thres=2.5
coefficient=H

[ClassifyIndicatorNupl@config]
excellent_thres=0.35
good_thres=0.4
average_thres=0.5
risky_thres=0.6
dangerous_thres=0.6
coefficient=H

[ClassifyIndicatorNvtGolden@config]
excellent_thres=-1
good_thres=0
average_thres=0.25
risky_thres=0.6
dangerous_thres=0.6
coefficient=H

[ClassifyIndicatorPuell@config]
excellent_thres=0.6
good_thres=0.7
average_thres=0.8
risky_thres=1.25
dangerous_thres=1.25
coefficient=H

[ClassifyIndicatorUtxo@config]
excellent_thres=80
good_thres=83
average_thres=88
risky_thres=91
dangerous_thres=91
coefficient=VH

[ClassifyIndicatorLiquidation@config]
long_average_thres=150
long_risky_thres=250
long_dangerous_thres=250
long_coefficient=VH
short_excellent_thres=250
short_good_thres=150
short_average_thres=0
short_coefficient=VH

[SqlConnector@config]
host=34.232.71.148
database=cs_data
user=root
password=Welcome@123

[SqlAccessToken@config]
host=34.232.71.148
database=portfolio
user=root
password=Welcome@123

[BinanceClient@config]
api_key=hjOQa69dJhdiRGEqXbAB6s7NW1pEPW1cJH0CleYDjhY1MvlHykzD8CHH8a9rVYN1
api_secret=28YlFtfmfvTLMN3xnDE7nOaAXOM6QFukg2V3Zey0O00e4znYbp0amHHILXfbY4NL

[BtcPredict@config]
coin_pair=BTCUSDT
model_path=/home/ecosystem/data/model/btc_prediction
model_path_1=/home/hungph/model/btc_cb/model_btc_classification_3_classes_30785cad-484d-4b32-a182-5ec1c7f178d0
